.about-us {
  // padding: 0 30px;
  width: 260px;
  margin: 0 auto;
}

.about-us__item {
  padding-top: 80px;
  position: relative;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin: 0;
}

.about-us__item--eco::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
  top: 15px;
}

.about-us__item--price::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../img/icon-feature-money.svg");
  background-repeat: no-repeat;
  top: 15px;
}

.about-us__item--social::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../img/icon-feature-heart.svg");
  background-repeat: no-repeat;
  top: 15px;
}

.about-us__item--craft::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../img/icon-feature-ball.svg");
  background-repeat: no-repeat;
  top: 15px;
}

.about-us__item--patriot::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../img/icon-feature-rocket.svg");
  background-repeat: no-repeat;
  top: 15px;
}

.about-us__item--gift::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../img/icon-feature-gift.svg");
  background-repeat: no-repeat;
  top: 15px;
}

.about-us__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .about-us {
    width: 668px;
    // padding: 50px;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about-us__item {
    font-size: 20px;
    line-height: 22px;
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .about-us {
    width: 1050px;
    // padding: 70px 50px;
  }
}
