.catalog {
  padding: 0 30px;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin: 0;
}

.catalog__product-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin: 0;
}

.catalog__product-characters {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: rgb(68, 68, 68);
  margin: 0;
}

.catalog__product-price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin: 0;
}
