.contacts {
  padding: 35px 0 39px 0;
  width: 320px;
  margin: 0 auto;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin: 0 auto;
  width: 260px;
}

.contacts__list {
  margin: 0 auto;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: rgb(68, 68, 68);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
}

.contacts__field {
  margin: 0;
  width: 50px;
  margin-top: 27px;
}

.contacts__value {
  margin: 0;
  width: 185px;
  margin-top: 27px;

  &--email {
    height: 30px;
    border-bottom: 1px solid rgb(99, 209, 186);

    &:hover {
      color: rgb(70, 193, 174);
    }

    &:active {
      color: rgba(70, 193, 174, 0.3);
    }
  }

  &--address {
    width: 150px;
    padding-right: 35px;
  }
}

.contacts__map {
  margin-top: 38px;
  width: 320px;
  height: 457px;
  background-image: url("../img/map-mobile@1x.jpg");

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }
  background-position: center;
  background-size: 100% auto;
}

.contacts__write-us {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: rgb(68, 68, 68);
  border: 2px solid rgb(68, 68, 68);
  display: block;
  text-align: center;
  line-height: 48px;
  text-transform: uppercase;
  margin: 34px auto 0 auto;
  width: 256px;

  &:hover {
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    width: 668px;
    padding-top: 60px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 47px;
      height: 81px;
      top: 46px;
      right: 3px;
      background-image: url("../img/icon-flag.svg");
    }
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin-left: 0;
    width: 668px;
    margin-bottom: 20px;
  }

  .contacts__list {
    font-size: 17px;
    line-height: 30px;
    width: 668px;
    min-height: 80px;
    justify-content: flex-start;
  }

  .contacts__field {
    width: 65px;

    &--address {
      margin-left: 55px;
    }
  }

  .contacts__value {
    width: 205px;

    &--email {
      margin-left: 10px;
    }

    &--address {
      width: 222px;
      margin-left: 9px;
    }
  }

  .contacts__map {
    width: 768px;
    height: 457px;
    margin-left: -50px;
    margin-top: 55px;
    background-image: url("../img/map-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  .contacts__write-us {
    font-size: 17px;
    margin-top: 55px;
    width: 228px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 875px;
    padding-left: 175px;
    padding-top: 70px;
    padding-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    &::after {
      left: 65px;
      top: 135px;
    }
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    width: 350px;
    margin: 0;
    margin-top: 73px;
  }

  .contacts__list {
    width: 350px;
    margin: 0;
  }

  .contacts__field {
    widows: 75px;
    margin: 0;
    padding: 0;

    &--email {
      margin-top: 50px;
    }

    &--address {
      margin-top: 25px;
    }
  }


  .contacts__value {
    width: 225px;
    margin: 0;
    padding: 0;
    margin-left: 13px;

    &--email {
      margin-top: 50px;
    }

    &--address {
      margin-top: 25px;
    }
  }

  .contacts__map {
    width: 525px;
    margin: 0;
    background-image: url("../img/map-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }

  .contacts__write-us {
    width: 226px;
    margin: 0;
    margin-top: -53px;
  }
}
