.form {
  padding: 0 30px;
}
.form__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin: 0;
}
.form__form-block-title {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: rgb(99, 209, 187);
  margin: 0;
}
.form__description {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(68, 68, 68);
  margin: 0;
}
.form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.form__text,
.form__textarea {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}
