.modal {
  width: 320px;
  margin: 0 auto;
}

.modal__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin: 0;
}

.modal__size-select {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: rgb(68, 68, 68);
  margin: 0;
}

.modal__list {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 70%;
}

.modal__item {
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: rgb(68, 68, 68);
  border: 2px solid rgb(236, 236, 236);
  display: inline-block;
}

.button--size-select {
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: rgb(99, 209, 187);
  border: none;
}

.modal__button {
  display: block;
  width: 70%;
  margin: auto;
}

@media (min-width: @tablet-width) {
  .modal {
    width: 567px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 57px;
  }

  .modal__size-select {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .modal {
    width: 567px;
  }
}
