.page-footer {
  padding: 0 30px;
  width: 260px;
  margin: 0 auto;
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 668px;
    padding: 0 50px;
    display: flex;
    align-items: center;
  }

  .page-footer__logo {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1050px;
    padding: 0 200px;
  }
}
