.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  margin: auto;
  line-height: 0;
  height: 80px;
  display: flex;
  align-items: center;
  z-index: 200;
}

.page-header__logo img {
  margin: auto;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 768px;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }

  .page-header__logo {
    position: absolute;
    left: 48px;
    top: 6px;
    cursor: pointer;
  }

  .page-header__logo img {
    width: 113px;
    height: 46px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1050px;
    // padding: 0 50px;
    position: relative;
  }

  .page-header__logo {
    margin: 0;
    left: 50%;
    margin-left: -75px;
  }

  .page-header__logo img {
    width: 149px;
    height: 72px;
  }
}
