.product-of-the-week {
  padding: 30px;
  width: 260px;
  min-height: 820px;
  margin: 0 auto;
}

.product-of-the-week__product-name {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin: 0;
}

.product-of-the-week__week-product-status {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(99, 209, 187);
  margin: 0;
}

.product-of-the-week__text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(68, 68, 68);
  margin: 0;
}

.product-of-the-week__list {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(68, 68, 68);
}

.product-of-the-week__image {
  margin: 0;
}

.product-of-the-week__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin: 0;
}

.product-of-the-week__button {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(68, 68, 68);
  border: 2px solid rgb(68, 68, 68);
  background-color: rgb(255, 255, 255);
}

@media (min-width: @tablet-width) {
  .product-of-the-week {
    width: 668px;
    min-height: 600px;
    padding: 50px;
  }

  .product-of-the-week__product-name {
    font-size: 43px;
    line-height: 50px;
  }

  .product-of-the-week__header {
    display: flex;
    justify-content: space-between;
  }

  .product-of-the-week__info {
    display: flex;
    flex-wrap: wrap;
  }

  .product-of-the-week__description {
    width: 50%;
  }

  .product-of-the-week__image {
    width: 50%;
    height: 100px;
  }

  .product-of-the-week__price {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .product-of-the-week {
    width: 1050px;
    padding: 70px 50px;
  }

  .product-of-the-week__header {
    flex-direction: row-reverse;
  }

  .product-of-the-week__product-name {
    position: relative;
    margin-right: auto;
    font-size: 53px;
    line-height: 57px;
  }

  .product-of-the-week__image {
    margin-top: -100px;
  }
}
