.product-categories {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 30px;
  width: 260px;
  height: 488px;
  margin: 0 auto;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: top;
}

.product-categories__title {
  margin-top: 0;
  margin-bottom: 150px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.product-categories__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.product-categories__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  min-height: 103px;
  margin-left: -30px;
}

.product-categories__paragraph {
  margin: 0 0 0 30px;
  width: 130px;
}

.product-categories__item--interior {
  background-color: rgb(99, 209, 178);
}

.product-categories__item--toys {
  background-color: rgb(86, 195, 178);
}

@media (min-width: @tablet-width) {
  .product-categories {
    width: 668px;
    padding: 0 50px;
  }

  .product-categories__list {
    flex-direction: row;
  }

  .product-categories__item {
    margin: 0;
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .product-categories {
    width: 1050px;
    padding: 0 50px;
  }
}
