.reviews {
  padding: 0 30px;
  width: 260px;
  margin: 0 auto;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin: 0;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: rgb(68, 68, 68);
  margin: 0;
}

.reviews__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: rgb(0, 0, 0);
}

.reviews__contact {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: rgb(68, 68, 68);
  margin: 0;
}

.reviews__write {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  color: rgb(68, 68, 68);
  border: 2px solid rgb(68, 68, 68);
}

@media (min-width: @tablet-width) {
  .reviews {
    width: 668px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    order: -1;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 30px;
  }

  .reviews__write {
    order: -2;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: 1050px;
    padding: 70px 50px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }
}
